<%# projects#show に対応する View %>
<h1><%= @project.title %></h1>

<%# Task の一覧 %>
<ul>
  <%# 一覧をループで回して表示する %>
  <% @project.tasks.each do |task| %>
    <li><%= task.title %></li>
  <% end %>
  <%# 新規作成フォーム %>
  <li>
    <%= form_for [@project, @project.tasks.build] do |f| %>
      <%= f.text_field :title %>
      <%= f.submit %>
    <% end %>
  </li>
</ul>